<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>


<div class="container text-center ">
	<p class="display-3">Highly Intelligible Speaker-Independent Articulatory Synthesis</p>
	<p>Samples page for Interspeech 2024 submission. Left audio player is always the original speech and right is the re-synthesis.</p>
</div>

<div class="container-fluid w-100 py-3  text-center">
	
	<div class="row">
	<h1 class="text-start">Specific Examples</h1>
	</div>

	<div class="row align-items-start">
		<div class="col ">
			<div class="row">
				<p class="fw-bold">Example 1</p>
			</div>
			<div class="row">
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
			<!--<a class="dwllink" href="audio_files/XRMB/Male_generated.wav" rel="nofollow"><img src="dwl.png" alt="" height="16" width="16"></a>-->
		</div>
		<div class="col ">
			<div class="row">
				<p class="fw-bold">Example 2</p>
			</div>
			<div class="row">
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid py-3  text-center">

	<h1 class="text-start">XRMB</h1>
	<div class="row align-items-start ">
		<div class="col ">
			<div class="row">
				<p class="fw-bold">Male</p>
			</div>
			<div class="row">
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
			<!--<a class="dwllink" href="audio_files/XRMB/Male_generated.wav" rel="nofollow"><img src="dwl.png" alt="" height="16" width="16"></a>-->
		</div>
		<div class="col ">
			<div class="row">
				<p class="fw-bold">Female</p>
			</div>
			<div class="row">
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid py-3  text-center">

	<h1 class="text-start">FLEURS</h1>
	<div class="row ">
		<div class="col ">
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col text-start">
					<p class="fw-bold">Italian</p>
				</div>
				<div class="col">
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col fw-bold">Intelligible</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col fw-bold">Less Intelligible</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
		</div>
		<div class="col ">
			<div class="row">
				<p class="fw-bold">French</p>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="col ">
			<div class="row ">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col text-start">
					<p class="fw-bold">German</p>
				</div>
				<div class="col"></div>
			</div>
			<div class="row align-items-center">
				<div class="col fw-bold">Intelligible</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col fw-bold">Less Intelligible</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
		</div>
		<div class="col ">
			<div class="row">
				<p class="fw-bold">Dutch</p>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col ">
			<div class="row ">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col text-start">
					<p class="fw-bold">Japanese</p>
				</div>
				<div class="col"></div>
			</div>
			<div class="row align-items-center">
				<div class="col fw-bold">Intelligible</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col fw-bold">Less Intelligible</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
			</div>
		</div>
		<div class="col ">
			<div class="row">
				<p class="fw-bold">Korean</p>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col">
					<audio controls><source src="audio_files/XRMB/Male_generated.wav" type="audio/wav">Your browser does not support the audio element.</audio>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
